body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1rem;
}

ul.collection {
    max-height: 500px;
    overflow-y: auto;
    margin: 7px;
}

#hostsFoundTitle {
    white-space: pre;
    font-size: 1.4rem;
}

.brand-logo {
    font-weight: bold;
}

.btn-small {
    padding: 0 0;
    height: auto;
    transform: translateY(-2px);
    margin-left: 4px;
}

.download-status {
    padding: 0 10px;
    height: auto;
    color: black;
}

#storage {
    position: relative;
    height: 24px;
    width: 100%;
    background-color: #5a5a5a;
}

#storage .usage-bar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(29, 192, 29);
    min-width: 3px;
}

#storage .usage {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}

#storage .usage-bar.medium {
    background-color: rgb(233, 152, 32);
}

#storage .usage-bar.severe {
    background-color: rgb(218, 59, 31);
}