body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1rem;
}

ul.collection {
    max-height: 500px;
    overflow-y: auto;
    margin: 7px;
}

#hostsFoundTitle {
    white-space: pre;
    font-size: 1.4rem;
}

.brand-logo {
    font-weight: bold;
}

.btn-small {
    padding: 0 0;
    height: auto;
    transform: translateY(-2px);
}

.download-status {
    padding: 0 10px;
    height: auto;
    color: black;
}